DATABASE_URI="your database uri"
SYNC_DATABASE_URI="your sync database uri"


GOOGLE_CLIENT_ID="google-client-id"
GOOGLE_CLIENT_SECRET="google-client-secret"
GOOGLE_REFRESH_TOKEN="google-refresh-token"

GMAIL_POLL_INTERVAL_SECONDS="your poll interval in seconds"
GMAIL_POLL_MAILBOX_ADDRESS="monitoring mailbox address"

GROQ_API_KEY_1="groq-api-key"
GROQ_API_KEY_2="groq-api-key"
GROQ_API_KEY_3="groq-api-key"
GOOGLE_API_KEY="google-api-key"
LLAMA_CLOUD_API_KEY="llx-HbYnXGnCfvIOHmO3ZkT3deJ9T6hlarT6ZFIU0KeSUtXV44AF"

LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="endpoint"
LANGSMITH_API_KEY="api-key"
LANGSMITH_PROJECT="project"